---
const response = await fetch('https://paulieapi.gatsbyjs.io/api/get-github-events', {
  method: 'POST',
  body: JSON.stringify({
    username: 'PaulieScanlon',
    results: 50,
  })
})
const data = await response.json();
// console.log(JSON.stringify(data, null, 2))
import EventCard from './EventCard.tsx'
---


<div>
  <h2>StaticEvents | @PaulieScanlon</h2>
  <pre>https://paulieapi.gatsbyjs.io/api/get-github-events</pre>
  <div class='card-grid'>
      {
        data.events.map((event, index) => {
          const {type, actor,created_at,  repo, payload} = event
          return (
            <EventCard 
              key={index} 
              type={type} 
              date={created_at}
              login={actor.login}
              repo={repo} 
              commits={payload.commits}
            />
          )
        })
      }
  </div>
</div>